

<body id="jumbotron">

  <header class="bg-primary text-white">
    <div class="container-fluid text-center"> 
      
      <h1>NH4 Citi Bank Trading </h1>
      <p class="lead">Welcome to Citi trading platfrom</p>
    </div>
  </header>


  <!DOCTYPE html>
  <html lang="en">  

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

  <head>
    <title>Bootstrap Example</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
  </head> 

  

  <body>

    <div class="col-md-4">
      <h2> Trades</h2> 
      
      <select (change)='handleChange()' [(ngModel)]='whichCategory' class='form-control'>
        <option *ngFor='let item of trades'>{{item.cat}}</option>

      </select>
    </div>
      <br />
   
      <button (click)="handleClick()" style="margin-left:14px" class="btn btn-primary">View All Trades</button>
      <button (click)="handleTodayClick()" style="margin-left:13px" class="btn btn-primary">Today's Trades</button>

      <br />
<br>
      
  <form #tradePost="ngForm" (ngSubmit)="onSubmit(tradePost.value)">

  <label>Ticker:</label><br>
  <input type="text"  name="ticker" ngModel placeholder="FB"><br>

  <label>Amount:</label><br>
  <input type="number"  name="amount" ngModel placeholder="0"><br> 

  <label >Price:</label><br>
  <input type="number"  name="price" ngModel placeholder="0"><br>

  <label>Buy or Sell:</label><br>
  <!-- <select id="type">
    <option ngModel placeholder="Buy">Buy</option>
    <option ngModel placeholder="Sell">Sell</option>
  </select><br><br> -->

  <input type="text"  name="type" ngModel placeholder="Buy"><br>
  <br>
  <input type="text" name="state" ngModel placeholder="CREATED">

  <button type="submit" >Submit</button>
  

</form>

  



    <div [hidden]="showFilterToday==false" class="card my-5">
      <div class="card-body">
        <h2>Today's Trades</h2>
        <table class="table table-bordered table-striped">
          <thead style="color:blue">
            <tr>
              
              <th scope="col">ticker</th>
              <th scope="col">state</th>
              <th scope="col">Price</th>
              <th scope="col">amount</th>
              <th scope="col">type</th>
            </tr>
          </thead>
          <tbody *ngFor="let trade of allTrades">

            <tr *ngIf="trade.lastStateChange >= fullDate">

             
              <td>{{ trade.ticker }}</td>
              <td>{{ trade.state }}</td>
              <td>{{ trade.price }}</td>
              <td>{{ trade.amount }}</td>
              <td>{{ trade.type }}</td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>



    <div [hidden]="showLatest" class="card my-5">
      <div class="card-body">
        <h2>All Trades</h2>
        <table class="table table-bordered table-striped">
          <thead class="thead-light">
            <tr>
             
              <th scope="col">ticker</th>
              <th scope="col">state</th>
              <th scope="col">Price</th>
              <th scope="col">amount</th>
              <th scope="col">type</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let trade of allTrades">
             
              <td>{{ trade.ticker }}</td>
              <td>{{ trade.state }}</td>
              <td>{{ trade.price }}</td>
              <td>{{ trade.amount }}</td>
              <td>{{ trade.type }}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>






    <div [hidden]="showFilter==false" class="card my-5">
      <div class="card-body">
        <h2>Filtered Results</h2>
        <table class="table table-bordered table-striped">
          <thead style="color:cadetblue">
            <tr>
            
              <th scope="col">ticker</th>
              <th scope="col">state</th>
              <th scope="col">Price</th>
              <th scope="col">amount</th>
              <th scope="col">type</th>
            </tr>
          </thead>
          <tbody class="tbody-dark" *ngFor="let trade of allTrades">

            <tr *ngIf=' trade.ticker == whichCategory'>
              
              <td>{{ trade.ticker }}</td>
              <td>{{ trade.state }}</td>
              <td>{{ trade.price }}</td>
              <td>{{ trade.amount}}</td>
              <td>{{ trade.type }}</td>
            </tr>

          </tbody>



        </table>
        
      </div>
    </div> 

    
    
    
    
    
     <div class="footer-copyright text-center py-1">© 2020 Copyright:
      <a href="https://www.placecage.com/200/300"> NH4 Matthew Aidan Karl</a> 
      
    </div> 
    
    
    
    
    
    
    

  